<% page = { 'title' : 'music', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = {
    'css' : ['3.3.2/bootstrap.css', 'sample.styl'],
    'js' : ['jquery-1.9.1.js', 'MenuBar.js', '3.3.2/bootstrap.min.js', 'jquery-2.1.1.min.js', 'sample.js']}
%>

<div id="Area">
    This is the very beginning of the music page from scratch.
    <div class="divRight">
        Here is a place where I talk about music. I love music and everything about it.
    </div>
    <div class="divLeft">First and foremost, I play the violin. It has shaped majority of my life and it's been one of the few constants in my life.</div>
    <div class="divRight"></div>
    <div class="divLeft"></div>
    <div class="divRight"></div>
    <div class="divLeft"></div>
</div>